<h1>Songs#create - test</h1>
<p>Find me in app/views/songs/create.html.erb</p>
<br>
<p><%= link_to('Back to Tapes list', {:controller => 'tapes', :action => 'index'})%>
<br>
<%= link_to('Add new song to the tape', {:controller => 'songs', :action => 'new'}) %>
<br>
<hr />
Params.inspect = </br>
<%= params.inspect %>
<hr />
@tape.inspect = </br>
<%= @tape.inspect%>
<hr />
@tapes.inspect = </br>
<%= @tapes.inspect%>
<hr />
@song.inspect = </br>
<%= @song.inspect%>
<hr />
@songs.inspect = </br>
<%= @songs.inspect%>