<h1>Songs#new</h1>
<p>Find me in app/views/songs/new.html.erb</p>


<%= form_for(:song, :url => {:controller => 'songs', :action => 'create', :tape_id => @tape.id}) do |s| %>

  <%= render(:partial => 'song_form', :locals => {:s => s}) %>

  <%= submit_tag('Add song') %>

<% end %>

<hr />
Params.inspect = </br>
<%= params.inspect %>
<hr />
@tape.inspect = </br>
<%= @tape.inspect%>
<hr />
@tapes.inspect = </br>
<%= @tapes.inspect%>
<hr />
@song.inspect = </br>
<%= @song.inspect%>
<hr />
@songs.inspect = </br>
<%= @songs.inspect%>